.root {
    min-height: 100vh;
}

// .ant-layout-sider.menu-sider{
//     background-color: olive;
// }



.main-logo.ant-layout-sider {
    background-color: orange;
}

.layout-content-background {
    // background: olive;
    min-height: calc(100vh - 114px);
}

.main-header,
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header {
    color: lightgray
    
}

.layout-content-background>div {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
}