aside.ant-layout-sider {
    box-shadow: 1px 1px 10px 2px lightslategrey;
}

.ant-layout-sider-zero-width-trigger{
    background-color: #3b7c25;
}
 .ant-layout-sider-zero-width-trigger:hover {
    background-color: #3b7c25;
    transform: scale(1.1);
}