button.ant-btn.ant-btn-circle.ant-btn-icon-only {
    min-width: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(154, 209, 177);
    color: #3b7c25;
    border-color: #3b7c25;

}



button.ant-btn.ant-btn-circle.ant-btn-icon-only:hover {
    transform: scale(1.2);
    color:#c9f8b7;
    border-color: #c9f8b7

}


.action-result-tooltip {
    width: fit-content;
    text-align: center;
    padding: 4px;
    position: absolute;
    z-index: 1;
    top: -4em;
    left: -110px;
    color: #3b7c25;
    display: none;
    background-color: #c9f8b7;
    border-radius: 8px;
}

.action-result-visible {
    display: block;
}

.action-result-tooltip p {
    margin: 0
}

.action-result-failed {
    color: red
}