
@import '../../assets/styles/global';

aside.menu-sider {
    background-color: $third;

    & .menu-children {
        background-color: $third;
    
    }
}

ul.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) li.ant-menu-item.ant-menu-item-selected.main-menu-item {
    background-color: $primary;
}
