/* 

добираемся до элементов antd через обычный селекторы

*/

ul.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) li.ant-menu-item.ant-menu-item-selected {
    background-color: #a3de8f;
}

ul.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) li.ant-menu-item.ant-menu-item-selected .anticon {
    color: #4a776c;
}

ul.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) li.ant-menu-item.ant-menu-item-selected .anticon+span>a {
    color: #4a776c;
}

span.ant-layout-sider-zero-width-trigger {
    top: 75px;
}

/* div.ant-layout-sider-children {
    margin-block-start: 75px;
} */