.root {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30ch;
}

.club-logo > img,
.ff-flag > img
 {
    height: 1.5em;
    margin: 2px 4px;
}


.ff-flag > img
 {
    height: 1.2em;
}