@import '../../assets/styles/global';

.root {
    background-color: $third;
    padding: 2px 4px;
    line-height: 1.8em;
    text-align: center;
    border-radius: 4px;
    color: $text2;
    font-weight: 600;
    font-size: 1rem;

}