@import '../../assets//styles/global.scss';

.root {
    padding: 0 8px;
    min-width: 14ch;
    text-align: right;

    & .game-score {
        text-align: center;
        display: inline-block;
        min-width: 5ch;
    }

    & .game-tv {
        height: 1.1rem;
        margin-left: 4px;
        color:$third;

        & img,
        & svg {
            height: 1.2rem;
        }
    }

    & .game-heatmap {
        height: 1.1rem;
        margin-left: 2px;
        margin-right: 2px;
        color:$third;

        & img,
        & svg {
            height: 1.2rem;
        }
    }
}