@import '../../assets/styles/global.scss';


.root {
    min-height: 100vh;




}

header.main-header {
    color: $text;
    background-color: $second;
    box-shadow: 0px 1px 3px 2px $text3;

    line-height: 2rem;
    text-align: center;
    padding: 16px 4px;
    height: min-content;
}

// .ant-layout-sider.menu-sider{
//     background-color: olive;
// }

.main-header {
    // .main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}



main.layout-content-background {
    // background: olive;
    min-height: calc(100vh - 125px);

    &>div>* {
        display: flex;
        flex: 0 0 1rem;
        margin: 8px 0;
    }
}



main.layout-content-background>div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
}