@import '../../assets/styles/global.scss';

.root {
    padding: 2px 4px;


}

div.group-table {
    width: 100%;

    & div.table-line:nth-child(2n-1) {
        background-color: $primary;
    }

    & div.table-line {
        display: flex;
        align-items: center;


        & div.table-cell {
            height: fit-content;
            // min-width: 14ch;
            min-width: 8ch;
        }

        & div.table-cell.club-logo {
            display: flex;
            justify-content: center;
        }

        & div.table-smallcell {
            height: fit-content;
            min-width: 3ch;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 4px;
        }

        & div.team-name {
            height: fit-content;
        }
    }

}

.club-logo>img {
    height: 1.8em;
    margin: 2px 4px;
    border-radius: 40%;
}

header .club-logo {
    margin-left: 10px;
}